.root {
    position: relative;
    background: linear-gradient(89.78deg, #375BD2 0.2%, #0228A4 99.82%);
    max-width: 100%;
    height: 280px;
}

.backgroundImage {
    position: absolute;
    top: 0%;
    right: 0px;
    width: 60%;
    height: 100%;
    background-image: url(/assets/mumbai-buildings.png);
    background-repeat: no-repeat;
    background-size: contain;
}